// skin
$cream: #E2D1CE;
$tan: #b39488;
$tanlight: #dcc0bb;
$tanmed: #E2D1CE;
$tanmedsat: #D4B0A2;
$tanmedoff: #500404;

// skin shadows
$grey: #333333;
$greymed: #6E6262;
$bluegrey: #6B6C92;
$browngrey: #DACEC8;
$brown: #997E73;
$navy: #1D1843;

// eye
$blue: #5A45FF;

// lip
$red-lip-li: #F9ACB6;
$red-lip: #E17A87;
$red-lip-dk: #E6576A;

// blush
$blush: #F998A5;
