// Base
@import "base/variables"; // Colours
@import "base/animations";

// Components

body {
  background-color: $black;
}

.face {
  position: relative;
  background-color: #dcc0bb;
  margin: auto;
  overflow: hidden;
  width: 100px;
  height: 100px;
  box-shadow: inset -15px -3px 5px -12px #6b6c92, inset -9px -33px 8px -24px rgba(74,0,0,0.38), inset -15px -3px 9px -12px #15122e, inset 31px 53px 26px -46px #dacec8, inset -38px -8px 29px -21px rgba(82,48,37,0.34);
  border-radius: inherit;
}
