
#person {
  display: block;
  position: absolute;
  .hair {
    .bangz-base {
      display: inline-block;
      position: absolute;
      margin: -27px -4px;
      width: 210px;
      height: 230px;
      clip-path: polygon(50% 0%, 80% 10%, 100% 32%, 96% 56%, 81% 39%, 51% 33%, 21% 40%, 7% 55%, 0 31%, 20% 10%);
      background-color: $brownoff;
      transform: rotate(-1deg);
      z-index: 500;
    }
  } // end hair

  .face {
    display: inline-block;
    position: absolute;
    margin: 2px 0 0 4px;
    transform: rotate(2deg);
    z-index: 300;
    .eyebrow-lhs {
      display: inline-block;
      position: absolute;
      margin: 78px 53px;
      width: 59px;
      height: 40px;
      background-color: $brownoff;
      clip-path: polygon(91% 26%, 37% 31%, 13% 43%, 0 70%, 19% 56%, 39% 47%, 91% 45%);
      transform: rotate(-1deg);
    }
    .eye-lhs {
      display: inline-block;
      position: absolute;
      margin: 120px 0 0 64px;
      z-index: 300;
      transform: rotate(-18deg);
      .eye-eyelashes-lhs {
        display: inline-block;
        position: absolute;
        z-index: 1000;
        .eye-eyelash-l1 {
          display: inline-block;
          position: absolute;
          margin: -4px -11px;
          width: 15px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(83% 64%, 52% 51%, 23% 37%, 0 19%, 15% 46%, 29% 58%, 49% 65%);
          transform: rotate(14deg);
        }
        .eye-eyelash-l2 {
          display: inline-block;
          position: absolute;
          margin: -6px -10px;
          width: 16px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(83% 64%, 52% 51%, 23% 37%, 0 19%, 15% 46%, 29% 58%, 49% 65%);
          transform: rotate(32deg);
        }
        .eye-eyelash-l3 {
          display: inline-block;
          position: absolute;
          margin: -8px -8px;
          width: 17px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(83% 64%, 52% 51%, 23% 37%, 0 19%, 15% 46%, 29% 58%, 49% 65%);
          transform: rotate(52deg);
        }
        .eye-eyelash-l4 {
          display: inline-block;
          position: absolute;
          margin: -9px -4px;
          width: 16px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(83% 64%, 52% 51%, 23% 37%, 0 19%, 15% 46%, 29% 58%, 49% 65%);
          transform: rotate(66deg);
        }
        .eye-eyelash-l5 {
          display: inline-block;
          position: absolute;
          margin: -9px 0px;
          width: 15px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(83% 64%, 52% 51%, 23% 37%, 0 19%, 15% 46%, 29% 58%, 49% 65%);
          transform: rotate(84deg);
        }
        .eye-eyelash-l6 {
          display: inline-block;
          position: absolute;
          margin: -10px 2px;
          width: 17px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(-30deg);
        }
        .eye-eyelash-l7 {
          display: inline-block;
          position: absolute;
          margin: -10px 6px;
          width: 19px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(-13deg);
        }
        .eye-eyelash-l9 {
          display: inline-block;
          position: absolute;
          margin: -9px 10px;
          width: 19px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(4deg);
        }
        .eye-eyelash-l10 {
          display: inline-block;
          position: absolute;
          margin: -7px 12px;
          width: 23px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(7deg);
        }
        .eye-eyelash-l11 {
          display: inline-block;
          position: absolute;
          margin: -6px 20px;
          width: 20px;
          height: 14px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(20deg);
        }
        .eye-eyelash-l12 {
          display: inline-block;
          position: absolute;
          margin: -3px 26px;
          width: 16px;
          height: 14px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(30deg);
        }
        .eye-eyelash-l13 {
          display: inline-block;
          position: absolute;
          margin: 1px 28px;
          width: 17px;
          height: 14px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(40deg);
        }
        .eye-eyelash-l14 {
          display: inline-block;
          position: absolute;
          margin: 5px 34px;
          width: 12px;
          height: 14px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(54deg);
        }
        .eye-eyelash-l15 {
          display: inline-block;
          position: absolute;
          margin: 9px 37px;
          width: 9px;
          height: 14px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(74deg);
        }
      } // end eyelashes left
      .eye-eyelid-lhs {
        display: inline-block;
        position: absolute;
        margin: -10px 0 0 -5px;
        width: 46px;
        height: 50px;
        background-image: linear-gradient(to right, #C09D95 18%, #D8B8B1, #EBD9D4, #D8A4A0 89%);
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 45%, 79% 26%, 52% 19%, 23% 26%, 0 44%, 0% 35%, 20% 10%);
        transform: rotate(16deg);
        z-index: 280;
      }
      .eye-color-lhs {
        display: inline-block;
        position: absolute;
        margin: 0 0 0 10px;
        background: $navy;
        background-image: linear-gradient(0deg, $blue, transparent 60%), radial-gradient(circle at 70% 50%, purple, transparent 40%);
        overflow: hidden;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        z-index: 260;
        .eye-reflect-lhs {
          display: inline-block;
          position: absolute;
          width: 8px;
          height: 8px;
          background: white;
          border-radius: 50%;
          z-index: 280;
        }
        .eye-pupil-lhs {
          display: inline-block;
          position: absolute;
          margin: 4px 0 0 4px;
          width: 14px;
          height: 14px;
          background: black;
          border-radius: 50%;
          z-index: 270;
        }
      }
      .eye-base-lhs {
        display: inline-block;
        position: absolute;
        background-color: white;
        overflow: hidden;
        width: 38px;
        height: 24px;
        box-shadow: inset -15px -3px 5px -12px $bluegrey, inset -9px -33px 8px -24px rgba(80,4,4,0.38);
        border-radius: 14px 50px 10px;
        transform: rotate(-10deg);
        z-index: 250;
      }
    }
    // end eye left

    .eyebrow-rhs {
      display: inline-block;
      position: absolute;
      margin: 84px 144px;
      width: 42px;
      height: 35px;
      background-color: $brownoff;
      clip-path: polygon(91% 23%, 73% 14%, 1% 13%, 3% 35%, 39% 29%, 78% 31%, 96% 55%);
      transform: rotate(2deg);
      z-index: 1000;
    }
    .eye-rhs {
      display: inline-block;
      position: absolute;
      margin: 120px 0 0 140px;
      z-index: 300;
      transform: rotate(-24deg);
      .eye-eyelashes-rhs {
        display: inline-block;
        position: absolute;
        z-index: 1000;
        .eye-eyelash-r1 {
          display: inline-block;
          position: absolute;
          margin: -8px 2px;
          width: 20px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(-10deg);
        }
        .eye-eyelash-r2 {
          display: inline-block;
          position: absolute;
          margin: -8px 7px;
          width: 20px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(-8deg);
        }
        .eye-eyelash-r3 {
          display: inline-block;
          position: absolute;
          margin: -8px 12px;
          width: 20px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(-8deg);
        }
        .eye-eyelash-r4 {
          display: inline-block;
          position: absolute;
          margin: -7px 18px;
          width: 18px;
          height: 12px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(3deg);
        }
        .eye-eyelash-r5 {
          display: inline-block;
          position: absolute;
          margin: -3px 21px;
          width: 18px;
          height: 10px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(12deg);
        }
        .eye-eyelash-r6 {
          display: inline-block;
          position: absolute;
          margin: 0px 26px;
          width: 17px;
          height: 10px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(18deg);
        }
        .eye-eyelash-r7 {
          display: inline-block;
          position: absolute;
          margin: 3px 29px;
          width: 17px;
          height: 10px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(30deg);
        }
        .eye-eyelash-r8 {
          display: inline-block;
          position: absolute;
          margin: 7px 32px;
          width: 17px;
          height: 10px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(40deg);
        }
        .eye-eyelash-r9 {
          display: inline-block;
          position: absolute;
          margin: 11px 36px;
          width: 13px;
          height: 10px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(50deg);
        }
        .eye-eyelash-r10 {
          display: inline-block;
          position: absolute;
          margin: 14px 37px;
          width: 11px;
          height: 10px;
          background-color: $tanmedoff;
          clip-path: polygon(60% 64%, 79% 48%, 100% 21%, 68% 43%, 43% 55%, 14% 74%, 33% 75%);
          transform: rotate(54deg);
        }
      } // end eyelashes right
      .eye-eyelid-rhs {
        display: inline-block;
        position: absolute;
        margin: -10px 0 0 -5px;
        width: 46px;
        height: 50px;
        background-image: linear-gradient(to right, #C09D95 18%, #D8B8B1, #EBD9D4, #D8A4A0 89%);
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 45%, 79% 26%, 52% 19%, 23% 26%, 0 44%, 0% 35%, 20% 10%);
        transform: rotate(16deg);
        z-index: 280;
      }
      .eye-color-rhs {
        display: inline-block;
        position: absolute;
        margin: 0 0 0 10px;
        background: $navy;
        background-image: linear-gradient(0deg, $blue, transparent 60%), radial-gradient(circle at 70% 50%, purple, transparent 40%);
        overflow: hidden;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        z-index: 260;
        .eye-reflect-rhs {
          display: inline-block;
          position: absolute;
          width: 8px;
          height: 8px;
          background: white;
          border-radius: 50%;
          z-index: 280;
        }
        .eye-pupil-rhs {
          display: inline-block;
          position: absolute;
          margin: 4px 0 0 4px;
          width: 14px;
          height: 14px;
          background: black;
          border-radius: 50%;
          z-index: 270;
        }
      }
      .eye-base-rhs {
        display: inline-block;
        position: absolute;
        background-color: white;
        overflow: hidden;
        width: 38px;
        height: 24px;
        box-shadow: inset -15px -3px 5px -12px $bluegrey, inset -9px -33px 8px -24px rgba(80,4,4,0.38);
        border-radius: 14px 50px 10px;
        transform: rotate(-10deg);
        z-index: 250;
      }
    }
    // end eye right

    .nose {
      display: inline-block;
      position: absolute;
      margin: 116px 0 0 94px;
      z-index: 310;
      transform: rotate(-8deg);
      .nose-nostril-lhs {
        display: inline-block;
        position: absolute;
        margin: 40px 0 0 20px;
        width: 7px;
        height: 2px;
        overflow: hidden;
        background-color: $greymed;
        box-shadow: 0 0 1px 1px $greymed;
        border-radius: 100%;
        transform: rotate(-5deg);
        z-index: 210;
      }
      .nose-face-blend {
        display: inline-block;
        position: absolute;
        margin: -18px 0 0 24px;
        width: 10px;
        height: 22px;
        background-color: $cream;
        overflow: hidden;
        box-shadow: 0 0 7px 10px $tanmed;
        border-radius: 100%;
        z-index: 200;
      }
      .nose-face-blend-btm {
        display: inline-block;
        position: absolute;
        margin: 14px 0 0 14px;
        width: 14px;
        height: 32px;
        background-color: $tanmedsat;
        overflow: hidden;
        box-shadow: 0 0 5px 4px $tanmedsat;
        border-radius: 100%;
        z-index: 200;
      }
      .nose-bridge {
        display: inline-block;
        position: absolute;
        width: 50px;
        height: 54px;
        background: $tanlight;
        clip-path: polygon(40% 0, 71% 0, 88% 63%, 91% 80%, 48% 93%, 38% 71%, 44% 40%);
        box-shadow: inset -15px -3px 5px -12px $bluegrey, inset 31px 53px 26px -46px $browngrey, inset -38px -8px 29px -21px rgba(82,48,37,0.24);
        border-radius: 15px 10px 15px;
        z-index: 190;
      }
    } // end nose

    .mouth {
      display: inline-block;
      position: absolute;
      margin: 4px 0 0 2px;
      z-index: 310;
      .top-lip {
        display: inline-block;
        position: absolute;
        margin: 164px 0 0 102px;
        transform: rotate(-2deg);
        width: 46px;
        height: 50px;
        background: linear-gradient(to right, $red-lip-dk 18%, $red-lip, $red-lip-li, $red-lip 89%);
        clip-path: polygon(52% 14%, 76% 12%, 100% 36%, 69% 30%, 34% 30%, 0 35%, 28% 11%);
        z-index: 2;
      }
      .bottom-lip {
        display: inline-block;
        position: absolute;
        margin: 172px 0 0 103px;
        transform: rotate(-2deg);
        width: 44px;
        height: 40px;
        background: radial-gradient($red-lip-dk, $red-lip-li);
        clip-path: polygon(56% 62%, 76% 57%, 100% 21%, 66% 33%, 35% 33%, 0 24%, 28% 60%);
        z-index: 2;
      }
      .mouth-inside {
        display: inline-block;
        position: absolute;
        margin: 174px 0 0 104px;
        width: 40px;
        height: 14px;
        background-color: $brownoff;
        border-radius: 50%;
        z-index: 1;
      } // end mouth
    } // end face
  }

  .ear {
    display: inline-block;
    position: absolute;
    margin: 110px -6px;
    background-color: $tanmedsat;
    overflow: hidden;
    width: 40px;
    height: 64px;
    border-radius: 100%;
    z-index: 140;
    transform: rotate(-10deg);
  } // end ear

  .forehead {
    display: inline-block;
    position: absolute;
    margin: 3rem 4rem;
    width: 50px;
    height: 50px;
    background-color: $cream;
    overflow: hidden;
    box-shadow: 0 0 20px 24px $tanmed, 20px 10px 29px 16px $tan;
    border-radius: 100%;
    z-index: 200;
  }
  .blush-lhs {
    display: inline-block;
    position: absolute;
    margin: 160px 72px;
    width: 2px;
    height: 2px;
    background-color: $blush;
    overflow: hidden;
    box-shadow: 0 0 20px 22px $blush, 20px 4px 29px 13px $tan;
    border-radius: 100%;
    z-index: 200;
  }
  .blush-rhs {
    display: inline-block;
    position: absolute;
    margin: 160px 170px;
    width: 1px;
    height: 1px;
    background-color: $blush;
    overflow: hidden;
    box-shadow: 0 0 20px 14px $blush;
    border-radius: 100%;
    z-index: 200;
  }
  .face-base {
    display: inline-block;
    position: absolute;
    margin: 12px 10px;
    background-color: $tanlight;
    overflow: hidden;
    width: 190px;
    height: 240px;
    box-shadow: inset -15px -3px 5px -12px $bluegrey, inset -9px -33px 8px -24px rgba(80,4,4,0.38), inset -15px -3px 9px -12px $navy, inset 31px 53px 26px -46px $browngrey, inset -38px -8px 29px -21px rgba(82,48,37,0.34);
    border-radius: 100%;
    z-index: 150;
  }
  .neck {
    display: inline-block;
    position: absolute;
    margin: 7.8rem 0.9rem;
    background-color: $tanlight;
    overflow: hidden;
    width: 120px;
    height: 180px;
    box-shadow: inset -15px -3px 5px -12px $bluegrey, inset -9px -33px 8px -24px rgba(80,4,4,0.38), inset -15px -3px 9px -12px $navy, inset 31px 53px 26px -46px $browngrey, inset -38px -8px 29px -21px rgba(82,48,37,0.34);
    border-radius: 5px 10px 10px;
    transform: rotate(2deg);
    z-index: 100;
  }
}
